@use "../../styles//abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 0;
  background: rgba(3, 3, 3, 0.5);
  height: 4.375rem;
  transform: translateY(0);
  transition: transform 0.3s ease;

  @media (min-width: 576px) {
    height: 6.25rem;
    padding: 1.5rem 0;
  }

  &.hidden {
    transform: translateY(-100%);
  }

  .header-container {
    @include flex-center;
    justify-content: flex-end;
    gap: 0.75rem;

    @media (min-width: 576px) {
      gap: 1.25rem;
    }
    @media (min-width: 992px) {
      justify-content: space-between;
    }
  }

  .logo {
    order: 1;
    margin-right: auto;

    @media (min-width: 992px) {
      margin-right: initial;
    }
  }

  .menu-toggle {
    order: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.563rem;
    height: 1.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: $white;

    @media (min-width: 992px) {
      display: none;
    }
  }

  .nav-menu {
    order: 3;
    position: absolute;
    top: 4.375rem;
    left: 0;
    right: 0;
    background: rgba(3, 3, 3, 0.5);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, padding 0.3s ease;

    @media (min-width: 768px) {
      top: 6.25rem;
    }

    @media (min-width: 992px) {
      display: flex;
      gap: 2rem;
      position: initial;
      background: transparent;
      max-height: initial;
    }

    &.open {
      max-height: 31.25rem;
      padding: 0.625rem 0;
    }

    .nav-item {
      @include flex-center;
      padding: 0.625rem 1.25rem;
      color: rgba(196, 196, 196, 0.8);
      font-weight: 500;
      transition: color 0.3s ease;

      @media (min-width: 992px) {
        padding: 0;
      }

      .chevron {
        margin-left: 6px;
        transition: transform 0.3s ease;
        display: inline-block;
      }

      &:hover {
        color: rgba(244, 244, 244, 1);
        transform: translateY(-1px);

        .chevron {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .start-btn {
    order: 3;
  }
}
