@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.features-section {
  padding: 3rem 0;
  width: 100%;
  overflow: hidden;

  .title-block {
    text-align: center;
    margin-bottom: 4rem;

    .section-title {
      font-size: 2.5rem;
      line-height: 3.125rem;
      letter-spacing: -0.8px;
      margin-bottom: 1rem;

      @media (min-width: 768px) {
        font-size: 4rem;
        line-height: 6rem;
      }

      @media (min-width: 992px) {
        font-size: 5rem;
        line-height: 7.5rem;
      }

      span {
        font-weight: 600;
        @include gradient-text($gradient-features);
      }
    }

    .section-sub {
      font-size: 1rem;
      line-height: 1.3rem;
      color: $grey-light;

      @media (min-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.875rem;
      }
    }
  }

  .features-title {
    font-size: 3rem;
    font-weight: 600;
    color: $white;

    .highlight {
      @include gradient-text($gradient-features-highlight);
    }
  }

  .features-subtitle {
    max-width: 53.125rem;
    margin: 1.25rem auto 3.75rem;
    font-size: 1.125rem;
    line-height: 1.7;
    color: $grey-muted;
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20.625rem, 1fr));
    gap: 1.5rem;
    margin-top: 2.5rem;
  }

  .feature-card {
    background: $dark-black;
    border: 1px solid $black-elevated;
    padding: 1.75rem;
    border-radius: 0.75rem;
    text-align: left;
    transition: all 0.3s ease;

    &:hover {
      border-color: $blue-ultra;
      transform: translateY(-4px);
    }
  }

  .feature-card-header {
    @include flex-center;
    justify-content: space-between;
  }

  .feature-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: $white;
  }

  .arrow-icon {
    width: 1.25rem;
    opacity: 0.8;
    transition: transform 0.3s ease;

    .feature-card:hover & {
      transform: translate(3px, -3px);
      opacity: 1;
    }
  }

  .feature-desc {
    margin-top: 0.75rem;
    font-size: 1rem;
    line-height: 1.6;
    color: $blue-light;
  }
}
