@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.demo-section {
  .title-block {
    text-align: center;
    padding: 5rem 2rem;
    background: url(../../../assets/backgrounds/abstract-bg.svg) no-repeat -14% 8%;
    background-size: 100%;
    max-width: 70rem;
    margin: auto;

    @media (min-width: 768px) {
      padding: 10.313rem 3.75rem 8.438rem;
    }

    @media (min-width: 1200px) {
      background-size: auto;
    }
  }

  .title {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 2px;

    @media (min-width: 768px) {
      font-size: 4rem;
      line-height: 4rem;
    }

    @media (min-width: 992px) {
      font-size: 6rem;
      line-height: 6rem;
    }

    span {
      font-weight: 500;
      @include gradient-text($gradient-demo);
    }
  }

  .demo-btn-wrapper {
    @include flex-center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 6rem;

    @media (min-width: 576px) {
      flex-direction: row;
      gap: 2rem;
    }
  }
}
