@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;

.hero-section {
  padding: 9.375rem 0 4.688rem;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 11.25rem;
  }

  @media (min-width: 992px) {
    padding-top: 15.625rem;
  }

  .frame-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
  }

  .frame-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 38%;

    img {
      margin-left: auto;
    }
  }

  .hero-container {
    text-align: center;
    position: relative;
    z-index: 1;

    .hero-title {
      font-size: 1.25rem;
      line-height: 1.875rem;
      letter-spacing: 1px;

      @media (min-width: 576px) {
        font-size: 2rem;
        line-height: 2.75rem;
      }

      @media (min-width: 768px) {
        font-size: 3rem;
        line-height: 3.625rem;
      }

      @media (min-width: 1200px) {
        font-size: 4rem;
        line-height: 5.625rem;
      }

      span {
        font-weight: 500;
        @include gradient-text($gradient-hero);
      }
    }

    .hero-description {
      font-size: 1rem;
      line-height: 1.5rem;
      color: $grey-light;
      max-width: 70%;
      margin: 2.188rem auto 0;

      @media (min-width: 576px) {
        font-size: 1.375rem;
        line-height: 2.125rem;
      }
    }

    .hero-btn-wrapper {
      @include flex-center;
      flex-direction: column;
      gap: 1rem;
      margin: 3rem 0 4.688rem;

      @media (min-width: 576px) {
        gap: 2rem;
        flex-direction: row;
      }
    }

    .companies-block {
      @media (min-width: 992px) {
        padding: 3rem 0;
      }

      h5 {
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $blue-cyan;

        @media (min-width: 576px) {
          font-size: 1.25rem;
          line-height: 1.875rem;
        }
      }
    }

    .conmpanies-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(8.75rem, 1fr));
      align-items: center;
      gap: 1.875rem;
      margin-top: 2rem;

      @media (min-width: 768px) {
        gap: 3.75rem;
      }

      .logo-item {
        height: 2.375rem;
        object-fit: contain;
      }
    }
  }
}
