@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.carousel-container {
  @include flex-center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner {
  @include flex-center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-content {
  position: relative;
  @include flex-center;
  width: 100%;
  height: 100%;
  min-height: 25rem;

  @media (min-width: 576px) {
    min-height: 31.25rem;
  }

  @media (min-width: 1200px) {
    min-height: 37.5rem;
  }
}

.carousel-card {
  flex-shrink: 0;
  position: absolute;
}

.carousel-item {
  position: relative;
  height: 14.375rem;
  border-radius: 1rem;
  overflow: hidden;
  backdrop-filter: blur(4px);
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.1);

  @media (min-width: 576px) {
    height: 10.938rem;
  }

  @media (min-width: 992px) {
    height: 14.375rem;
  }

  @media (min-width: 1400px) {
    height: 23.75rem;
  }
}

.carousel-item-content {
  position: relative;
  height: 100%;
  padding: 1rem;
  @include flex-center;
  flex-direction: column;
  text-align: center;

  @media (min-width: 768px) {
    padding: 1.875rem;
  }
}

.carousel-item-inner {
  flex: 1;
  @include flex-center;
  flex-direction: column;
}

.carousel-item-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: $white;
  filter: drop-shadow(0 0 1px $violet-deep)
    drop-shadow(0 0 1px $violet-electric);

  @media (min-width: 992px) {
    font-size: 1.25rem;
  }

  @media (min-width: 1400px) {
    font-size: 1.875rem;
  }
}

.carousel-item-description {
  font-size: 0.625rem;
  line-height: 0.875rem;
  color: rgba(255, 255, 255, 0.8);

  @media (min-width: 992px) {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  @media (min-width: 1400px) {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}
